<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/estilosIndex.css">
</head>
<body>
  <div class="abs-center">
   <div class="container">
      <div class="card">
          <div class="card-title"></div>
             <div class="card-text">
                 <a href="http://127.0.0.1:5000/evaluacion1">
                 <input type="submit" class="btn-ejercio2" style="background-color:blue; border-color:420FDF; color:white" value="Ejercicio 1">
                 </a>
                 <a href="http://127.0.0.1:5000/evaluacion2">
                 <input type="submit" class="btn-ejercio2" style="background-color:blue; border-color:420FDF; color:white" value="Ejercicio 2">
                 </a>
             </div>
         </div>
     </div>
   </div>
</body>